version: '3.8'

services:
  # The "Source" Database for Parking Data
  postgres_parking:
    image: debezium/postgres:15
    container_name: postgres_parking
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    # Debezium requirement:
    command: [ "postgres", "-c", "wal_level=logical", "-c", "max_wal_senders=10", "-c", "max_replication_slots=10" ]
    networks:
      - parking-network

networks:
  parking-network:
    external: true
